%icons-comm{background-image: url('http://image.gamersky.com/webimg13/wap/2016/icons-comm.png');}
%icons-more-r{background-image: url('http://image.gamersky.com/webimg13/wap/2016/icons-more-r.png');}
%icons-more-gray{background-image: url('http://image.gamersky.com/webimg13/wap/2016/icons-more-gray.png');}
%icons-more-b{background-image: url('http://image.gamersky.com/webimg13/wap/2016/icons-more-black.png');}
%icons-loading{background-image: url('http://image.gamersky.com/webimg15/loading.gif');}
%icons-fire{background-image: url('http://image.gamersky.com/webimg13/wap/2016/icons-fire.png');}
%icons-shaixuan{background-image: url('http://image.gamersky.com/webimg13/wap/2016/icons-shaixuan.png');}
%icons-shaixuan-w{background-image: url('http://image.gamersky.com/webimg13/wap/2016/icons-shaixuan-w.png');}
%sprite-star{background-image: url("http://image.gamersky.com/webimg13/wap/2016/sprite-star.png");}
%list-mask{background-image: url("http://image.gamersky.com/webimg13/wap/2016/list-mask.png");}
%icons-arrow-up{background-image: url("http://image.gamersky.com/webimg13/wap/2016/arrow-up.png");}
%icons-arrow-up-cur{background-image: url("http://image.gamersky.com/webimg13/wap/2016/arrow-up-cur.png");}
%icons-arrow-down{background-image: url("http://image.gamersky.com/webimg13/wap/2016/arrow-down.png");}
%icons-arrow-down-cur{background-image: url("http://image.gamersky.com/webimg13/wap/2016/arrow-down-cur.png");}
%scro-mask{background-image: url("http://image.gamersky.com/webimg13/wap/2016/scro-mask.png");}
%icons-arrow-up-w{background-image: url("http://image.gamersky.com/webimg13/wap/2016/arrow-up-w.png");}
%icons-arrow-down-w{background-image: url("http://image.gamersky.com/webimg13/wap/2016/arrow-down-w.png");}

%icons-c-comm{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0525/icons-c-comm2.png");}
%icons-c-selt{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-selt.png");}
%icons-c-seA{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-seA.png");}
%icons-c-flagb{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-flagb.png");}
%icons-c-flagr{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-flagr.png");}
%icons-c-like{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-like.png");}
%icons-c-unlike{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-unlike.png");}
%icons-c-wb{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-wb.png");}
%icons-c-qq{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-qq.png");}
%icons-c-qz{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-qz.png");}
%back-top{background-image: url("http://image.gamersky.com/webimg13/wap/2016/back-top.png")}
%back-com{background-image: url("http://image.gamersky.com/webimg13/wap/2016/back-com.png")}
%ymw-pctop-mask{background-image: url("http://image.gamersky.com/webimg13/wap/2016/ymw-pctop-mask.png")}
%icons-c-hots{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-hots.png")}
%icons-c-zk{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-zk.png")}
%icons-c-zk-h{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-zk-h.png")}
%icons-c-dl{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-dl2.png")}
%icons-c-ar{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-ar.png")}
%icons-c-close{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-close.png")}
%icons-c-and{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-and.png")}
%icons-c-ios{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-ios.png")}
%icons-c-play{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-play.png")}
%icons-c-dh-yes{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-dh-yes.png")}
%icons-c-dh-no{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-dh-no.png")}
%icons-c-dh-share{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-dh-share.png") !important;}
%icons-c-playicos{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icon-c-playico.png")}
%icons-c-glzk{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-c-glzk.png")}

%log-logo{background-image: url("http://image.gamersky.com/webimg13/wap/2016/ymwlog-logo.png");}
%log-user{background-image: url("http://image.gamersky.com/webimg13/wap/2016/ymwlog-user.png");}
%log-psw{background-image: url("http://image.gamersky.com/webimg13/wap/2016/ymwlog-psw.png");}
%log-qq{background-image: url("http://image.gamersky.com/webimg13/wap/2016/ymwlog-qq.png");}
%log-wb{background-image: url("http://image.gamersky.com/webimg13/wap/2016/ymwlog-wb.png");}
%log-wx{background-image: url("http://image.gamersky.com/webimg13/wap/2016/ymwlog-wx.png");}
%log-iptclear{background-image: url("http://image.gamersky.com/webimg13/wap/2016/ymwlog-clear.png");}

%icons-adsclose{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-adsclose.png")}
%icons-ser{background-image: url("http://image.gamersky.com/webimg13/wap/2016/icons-ser.png")}
%icons_new_sx{background-image: url("http://image.gamersky.com/webimg13/wap/2016/new0309/icons_sx.png")}
%icons_new_heart{background-image: url("http://image.gamersky.com/webimg13/wap/2016/new0309/icons_heart.png")}
%icons_new_heart_a{background-image: url("http://image.gamersky.com/webimg13/wap/2016/new0309/icons_heart_a.png")}
%icons_new_android{background-image: url("http://image.gamersky.com/webimg13/wap/2016/new0309/icons_android.png")}
%icons_new_ios{background-image: url("http://image.gamersky.com/webimg13/wap/2016/new0309/icons_ios.png")}
%icons_zp_stars{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0407/icons-zp-stars.png")}


%ymw-bds-wb{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-bds-wb.png")}
%ymw-bds-qq{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-bds-qq.png")}
%ymw-bds-qz{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-bds-qz.png")}
%ymw-bds-more{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-bds-more.png")}
%ymw-arr-more{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-arr-more.png")}
%ymw-loginpop-gs{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-loginpop-gs.png")}
%ymw-loginpop-wb{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-loginpop-wb.png")}
%ymw-loginpop-qq{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-loginpop-qq.png")}
%ymw-anp-tit{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-anp-tit.png")}
%ymw-anp-close{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-anp-close.png")}
%ymw-ani-d{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-ani-d.png")}
%ymw-ani-t{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-ani-t.png")}
%ymw-ani-fix{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/ymw-ani-fix.png")}
%back-top-new{background-image: url("http://image.gamersky.com/webimg13/wap/2017/0414/back-top-new.png")}